/*j'ai importer la police DMSerif depuis google*/
@font-face {
    font-family: "DMSerif";
    src: url(./assets/fonts/DMSerifDisplay-Regular.ttf);
}

/*L'etoile donne du style a tous les elements*/
 /* *{ */
    margin: 0;
    padding: 0;
    border: 2px solid red ;
/* }  */

/*la police c'est DMSerif et le deuxieme c'est verdana*/
body {
    font-family: "DMSerif" , verdana ;
    background: url(./assets/fonts/img/bg.jpg) no-repeat center/cover ;

/*VH=100% de la taille de l'ecran (viewport height*/
    min-height: 100vh;
}

h1 {
/* h1: permet de mettre le texte en majuscule*/
    text-transform: uppercase;
/*letter-spacing:permet d'espacer le texte*/
    letter-spacing: 3px;
/*permet de centrer le texte*/
    text-align: center;

/*les tailles de polices doivent etre en rem*/
    font-size: 2.5rem;
    text-shadow: 3px 3px 8px #00000042;
/*la couleur du texte*/
    color: #ab0ef4;
/*la police du texte*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
/* height= hauteur*/
    min-height: 500px;
/*width= largeur,utiliser les pourcentages pour les width*/
    width: 90%;
    background: rgba(245, 234, 234, 0.9);
/*Centrer une boite*/
    margin: 0 auto;
/*Border= bordure*/
    border: 2px solid rgba(0, 140, 255);
    border-radius: 20px 20px 0 0px ;
    box-shadow: 0 0 20px 4px #81cfc6;
    padding: 15px;
}

h2 {
    margin: 0;
}

/*J'ai creer une boite pour la classe Flexbox*/ 
/*Flexbox sert a repartir equitablement des elements sur la page*/
.flexbox, 
.grid,
.absolute
{
    border: 2px solid skyblue;
    border-radius: 10px;
    padding: 10;
    margin-top: 20px;
    min-height: 150px;
}
.flexbox ul {
    padding: 10px;
/*Display flex permet d'aligner tous les elements boites côte à côte*/
    display: flex;
    justify-content: space-around;
}

.flexbox li {
    list-style: none;
    height: 160px;
    width: 160px;
    margin: 10px;
    background: turquoise;
    /* Centrer un unique element verticalement et horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* GIRD*/
.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid img {
    width: 80%;
    margin: 20px auto;
    display: block; 
    
    
    
} 
/*Le formulaire*/
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "i1 i2"
    "ta ta"
    "vi bt";
}
input, textarea {
    margin: 5px;
    border: 1px darkblue;
    padding: 10px;
    font-size: 1.1rem;
    font-family: DMSerif;
    border-radius: 5px;
}
/* Textarea = tableau */
textarea {
    grid-area: ta ;
    height: 40px;
    /* Resize permet de ne pas casser le formulaire */
    resize: none;
}
#btn-submit {
    grid-area: bt;
    cursor: pointer;
    background: cyan;
    transition: 0.2s;
}
/* Hover = Survoler  */
#btn-submit:hover {
    background: darkblue;
    color: white;
}
/* Sans élément en relative de base, l'élément en absolute l'est par rapport au body */
/* Il faut mettre une position relative au parent pour contraindre l'élément en absolute dans ses 
frontieres */
/* Absolute */
.absolute {
    position: relative;
}
#circle1 {
    height: 80px;
    width: 80px;
    background: skyblue;
    position: absolute;
    border-radius: 150px;
    top: -20px ;
    right: -20px;
}
#circle2 {
    height: 40px;
    width: 40px;
    border-radius: 150px;
    background: teal;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}

/* Index style */
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: blue;
    align-items: center;
}
.navlinks{
    display:inline-flex;
    list-style: none;
    gap: 10px;
}
.navlinks li a{
    text-decoration: none;
    color: white;
}

/* Responsive */
/* max-width veut dire hauteur maximale */
@media screen and (max-width: 900px) {
    .grid-container {
        display: block;
    }
    .grid-container img {
        width: 40%;

    }    
}
@media screen and (max-width: 610px) {
    .flexbox ul {
        flex-direction: column;
        align-items: center;
    }
    form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "i1"
        "i2"
        "ta"
        "bt";
    }
    input, textarea {
        font-size: 0.8rem;
    }
}
  

